<h2>Nueva disponibilidad para <%= @unit.id %></h2>

<div
  data-controller="unit-availability"
  data-unit-availability-hotel-id-value="<%= @unit.hotel.id %>"
  data-unit-availability-unit-id-value="<%= @unit.id %>">
  <div id="calendar"></div>
</div>

<%= link_to "Volver", hotel_unit_unit_availabilities_path(@unit.hotel, @unit), class: "btn btn-secondary mt-3" %>
