<h2>Disponibilidad de <%= @unit.unit_type %></h2>

<div id="calendar"></div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const calendarEl = document.getElementById("calendar")
        const eventsUrl = "<%= hotel_unit_unit_availabilities_path(@unit.hotel, @unit, format: :json) %>"

        const calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: "dayGridMonth",
            locale: "es",
            events: eventsUrl,
            selectable: false, // 👈 desactiva clics
            editable: false,
        })

        calendar.render()
    })
</script>
