<%#
  Partial de precio. Siempre muestra el precio base sin modificaciones.
  El descuento por membresía se gestiona internamente, no se refleja aquí.
  Locales requeridas:
    data: Hash generado por DynamicPricingHelper#calculate_dynamic_price
    size: :sm | :md | :lg
%>
<%
  price_size = case size
               when :lg then "fs-2"
               when :sm then "fs-6"
               else "fs-4"
               end
%>
<div class="dynamic-price dynamic-price--<%= size %>">
  <div class="fw-bold <%= price_size %>" style="color: var(--brand-orange, #EB633B);">
    $<%= number_with_precision(data[:base], precision: 2) %>
  </div>
</div>
