<div class="container mt-4">
  <h2>Selecciona un Establecimiento</h2>

  <div class="row mt-3">
    <% @establishments.each do |establishment| %>
      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= establishment.name %></h5>
            <p class="card-text">Descripción breve del establecimiento.</p>
            <%= link_to "Ver planes", establishment_plans_subscriptions_path(id: establishment.id), class: "btn btn-outline-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
